.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  width: min(100%, 20rem);

  input {
    width: 300px;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 500px;
    cursor: pointer;
    font-size: 20px;
    transition: 200ms all ease-in-out;

    &:hover {
      background: rgb(25, 25, 25);
    }

    &:focus {
      background: rgb(30, 30, 30);
    }
  }
}

