.button {
  padding: 10px 20px;
  background: #7367F0;
  border: none;
  width: 100%;
  border-radius: 500px;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  font-size: 20px;

  &:hover {
    background: #7367F0BF;
  }
}